html, body {
  background-image: url(../images/background.jpg);
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 70%;
  max-width: 400px;
}

#closePopupBtn {
  background-color: #ffca00;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#closePopupBtn:hover {
  background-color: #ffd500;
}

#gameOverPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#tryAgainBtn {
  background-color: #ffca00;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#tryAgainBtn:hover {
  background-color: #ffd500;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 40%;
  height: 350px;
  margin: 15% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

h1#flag {
  font-size: 100px;
  height: 80px;
}

h3 {
  margin: 0;
}

#capital {
  margin-bottom: 10px;
}
.answer-container {
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
}

input {
  text-align: center;
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  font-weight: 800;
  letter-spacing: 2px;
  font-size: large;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffca00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.horizontal-container {
  display: flex;
  justify-content: space-between;
}

button:hover {
  background-color: #ffd500;
}

#result {
  text-align: center;
  font-size: 24px;
}

.checkmark {
  color: transparent;
  animation: checkmark 0.5s ease;
}

.cross {
  color: transparent;
  animation: cross 0.5s ease;
}

@keyframes checkmark {
  0% {
    color: transparent;
  }
  100% {
    color: green;
  }
}

@keyframes cross {
  0% {
    color: transparent;
  }
  100% {
    color: red;
  }
}

.restart-button {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

footer {
  font-size: 12px;
  text-align: center;
  color: lightgray;
  margin-top: 10px;
}